div#container
{
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 780px; 
    background: #FFFFFF;
    margin: 0 auto; 
    solid #000000;
}

p {
    color: #00FF00;

}

body
{
    text-align: center;
}


#lusername
{
    width: 690px; 
    height: 100px; 
    solid #999999; 
    padding: 5px; 
    font-size:300%;
    text-align: center;
}
#parpbutton
{
    height: 50px; 
    solid #999944; 
    font-size:150%;
    text-align: center;
}

    .chart {
      margin-left: 42px;
      font: 10px sans-serif;
      shape-rendering: crispEdges;
      color: white;
    }

    .chart div {
      background-color: steelblue;
      text-align: right;
      padding: 3px;
      margin: 1px;
      color: white;
    }

    .chart rect {
      stroke: white;
      fill: steelblue;
      color: white;
    }

    .chart text.bar {
      fill: white;
    }
